@use '@fontsource-variable/inter';
@use '../projects/mathvoice-ui/src/lib/styles/colors';
@use '../projects/mathvoice-ui/src/lib/styles/primitives';
@use '../projects/mathvoice-ui/src/lib/styles/typography';
@use '../projects/mathvoice-ui/src/lib/styles/shadows';
@use '../projects/mathvoice-ui/src/lib/styles/blurs';
@use '../projects/mathvoice-ui/src/lib/styles/semantic';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: var(--mv-font-family);
  background: var(--mv-color-neutral-0);
}

body {
  min-width: 320px;
  margin: 0;
}
